-e .[docs]
-e .[testing]
bump2version>=0.5.6  # SKELETON: Remove if not using bumpversion.
tox>=2.4

# This is a fork of pycodestyle which backports a commit that checks max-doc-length,
# but is still compatible with flake8 3.5.0.
git+git://github.com/the-allanc/pycodestyle@2a89f8643790efee043ea01b310ff519c888ff9a
flake8
radon
pylint
